<div class="container">
    <div class="row">

        <div class="col-md-offset-2 col-md-8">
            <div class="list-group">
                <!-- SEARCH TOOL -->
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </div>
                        <input type="text" ng-model="taskCtrl.searchTask" class="form-control" placeholder="Search">
                    </div>
                </div>

                <!-- TASK LIST -->
                <a ng-repeat="task in taskCtrl.tasks | filter: taskCtrl.searchTask | orderBy: 'title'" ui-sref="edit({taskId: task.$id})">
                    <div class="list-group-item">
                        <div class="row-content">
                            <h4 class="list-group-item-heading">{{task.title | limitTo:25}}{{ task.title.length > 25? "..." : ""}}</h4>
					            <span class="list-group-item-text">
					            	{{task.description | limitTo: 25 }} {{task.description.length > 25 ? "..." : ""}}
					            </span>
                        </div>
                        <div class="payment">
                            <div>${{task.total}}</div>
                        </div>
                    </div>
                    <div class="list-group-separator">
                    </div>
                </a>
            </div>

        </div>

    </div>
</div>

